.cartPage {
  margin: 6rem auto;
  max-width: var(--max-width);
  align-items: flex-start;
  -moz-column-gap: 2.2rem;
  column-gap: 2.2rem;
  margin-bottom: 8rem;
}
.cartPageRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 25px;
}
.cartPageColumn {
  width: 25%;
}
.cartPageRow.title {
  font-weight: 700;
  font-size: 1.2rem;
  color: #444;
  text-align: left;
  margin-bottom: 25px;
}
img.productThumbnail {
  margin-bottom: 10px;
}
span.productName {
  font-weight: 500;
}
.clearCartRow {
  justify-content: flex-end;
}

/********** cart totla block **************/
.item {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.cartTotalRow {
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  align-items: self-end;
}
span.value {
  width: 80px;
}
.cartValueBox > .item:first-child span {
  font-weight: 700;
}
.cartValueBox > .item:last-child span {
  font-weight: bold;
  font-size: 1.5rem;
}
.cartValueBox {
  padding: 20px 20px 20px 50px;
  border: 1px solid #dbd6d6;
  margin-top: 50px;
  border-radius: 5px;
  width: 400px;
}
.cartValueBox > .item:nth-child(2) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dbd6d6;
}
